[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
[project]
name = "nnsight"
version = "0.0.2"
authors = [
  { name="Jaden Fiotto-Kaufman", email="jadenfk@outlook.com" },
]
description = "Package for interpreting and manipulating the internals of deep learning models."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/JadenFiotto-Kaufman/nnsight"