/* Website light and dark theme colors */

html[data-theme="dark"] {
    --pst-color-secondary: #ce5d97;
    --pst-color-primary: #4385be;
    --pst-color-primary-highlight: #ce5d97;
    --pst-color-background: #100F0F;
    --pst-color-on-background: #1C1B1A;
    --pst-color-surface: #282726;
    --pst-color-on-surface: #CECDC3;
    --pst-color-text-base: #CECDC3;
    --pst-color-text-muted: #CECDC3;
    --pst-color-heading-color: #CECDC3;
    --pst-color-border: #1C1B1A;
    --pst-color-panel-background: #1C1B1A;
}

html[data-theme="light"] {
    --pst-color-secondary: #ce5d97;
    --pst-color-primary: #4385be;
    --pst-color-primary-highlight: #ce5d97;
    --pst-color-background: #FFFCF0;
    --pst-color-on-background: #F2F0E5;
    --pst-color-surface: #E6E4D9;
    --pst-color-on-surface: #100F0F;
    --pst-color-text-base: #100F0F;
    --pst-color-text-muted: #100F0F;
    --pst-color-heading-color: #100F0F;
    --pst-color-border: #F2F0E5;
    --pst-color-panel-background: #F2F0E5;
}

/* Editing the default width for pydata content */

.bd-main .bd-content .bd-article-container {
    max-width: 80%;  /* default is 60em */
}

/* Front page buttons and hero */

.hero {
    height: 60vh !important;
}

.primary {
    background-color : var(--pst-color-primary) !important;
    border-color : var(--pst-color-primary) !important;
    color: var(--pst-color-background) !important;
}

.secondary {
    background-color : transparent !important;
    border-color : #878580 !important;
    color: #878580 !important;
}

.secondary:hover {
    background-color : transparent !important;
    border-color : var(--pst-color-on-surface) !important;
    color: var(--pst-color-on-surface) !important;
}


/* Hide the theme version note at the bottom of the page */

.theme-version {
    visibility: hidden;
}

.text {
    color : var(--pst-color-on-surface) !important;
}

/* Default surface style for cards */

.surface {
    background-color : var(--pst-color-surface) !important;
    color : var(--pst-color-on-surface) !important;
    border-color: var(--pst-color-surface) !important;
}
