/* Custom Styles for List Group Items */
.list-group-item {
  background-color: transparent;
  border: none;
  color: var(--pst-color-on-surface);
}

.list-group-item:hover {
  background-color: var(--pst-color-on-background);
  color: var(--pst-color-on-surface);
}

.list-group-item.active {
  background-color: var(--pst-color-surface);
  color: var(--pst-color-on-surface);
  border: none;
}

.tab-background {
  background-color : var(--pst-color-on-background) !important;
  color : var(--pst-color-on-surface) !important;
  border-color: var(--pst-color-on-background) !important;
  border: 2px !important;
}

.tab-content {
  height: 100% !important;
} 



/* Custom Styles for middle of the screen blurb */

@media (max-width: 767px) {
  .mid-section {
    height: 50vh !important;
  }
  .static-on-small { 
    height: 35vh !important;
  }
}

.mid-section {
  height: 20vh;
}

.middle-stuff {
  margin-bottom: 15vh;
}



/* Custom Styles for Code Widget */
.code-surface {
  background-color : var(--pst-color-surface) !important;
  color : var(--pst-color-on-surface) !important;
  border-color: var(--pst-color-surface) !important;
}

.fill-height {
  height: 100% !important;
}

pre {
  margin: 0 !important;
}
