/* Custom Styles for List Group Items */
.list-group-item {
  background-color: transparent;
  /* Make the button background transparent */
  border: none;
  /* Remove border */
  color: var(--pst-color-on-surface);
  /* Set text color */
}

.list-group-item:hover {
  background-color: var(--pst-color-on-background);
  color: var(--pst-color-on-surface);
  /* Light grey hover effect, adjust as needed */
}

.list-group-item.active {
  background-color: var(--pst-color-surface);
  /* White background for active state */
  color: var(--pst-color-on-surface);
  /* Text color for active state */
  border: none;
  /* Ensure no border for active state */
}

.tab-background {
  background-color : var(--pst-color-on-background) !important;
  color : var(--pst-color-on-surface) !important;
  border-color: var(--pst-color-on-background) !important;
  border: 2px !important;
}

.tab-content {
  height: 100% !important;
} 


.code-surface {
  background-color : var(--pst-color-surface) !important;
  color : var(--pst-color-on-surface) !important;
  border-color: var(--pst-color-surface) !important;
}



/* Custom Styles for Code Styles */

.fill-height {
  height: 100% !important;
}

pre {
  margin: 0 !important;
}


.hover-border {
  transition: border 0.3s ease-in-out;
}

.hover-border:hover {
  border: 1px solid #fff; /* Adjust color to match the design */
}


.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
